@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300;400;700&display=swap');
* {
	background: #f2f7f6;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: none;
	font-family: Inconsolata, sans-serif;
	scroll-behavior: smooth;
}

p,
span {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 18px;
	background: transparent;
}

.main-view {

}

	.top-nav-bar {
		max-width: none;
		background: #f2f7f6;
		position: relative;
		text-align: center;
		z-index: 1;
	}

	.top-nav-bar > a {
		display: inline-block;
		background-color: #f2f7f6;
		color: #292b2b;		
		font-size: 20px;
		text-decoration: none;
		padding: 10px 20px;
		text-align: center;
		transition: all 0.3s ease;

	}

	.top-nav-bar > a:hover {
		color: #2b80c2;
	}

	#resume {
		background: #cde6fa;
		color: #174569;
		font-size: 20px;
		border: none;
		border-radius: 4px;
		padding: 20px 20px;
		text-align: center;
		cursor: pointer;
		white-space: nowrap;
		transition: all 0.3s ease;

	}

	#resume:hover {
		background: #aed6f5;
	}

	.stickyTop {
		position: fixed;
		top: 0;
		width: 100%;
	}

	.stickyTop + .main-view {
		padding-top: 61px;
	}

	.fa-download {
		background: transparent;
	}

	.content {
		max-width: 1250px;
		margin: 0 auto;
	}

		#welcome {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			position: relative;
			padding-top: 60px;
		}

	.scroll {

	}

		.arrow {
			border: solid #174569;
			border-width: 0 3px 3px 0;
			padding: 3px;
			height: 40px;
			width: 40px;
			margin: 0 auto;
			margin-top: 40px;
		}

		.arrow:hover {
			animation: blink-arrow .75s linear infinite;
		}

		@keyframes blink-arrow {
			50% {opacity: 0}
		}

		.down {
			transform: rotate(45deg);
		}

		.up {
			transform: rotate(225deg);
			margin-top: 50px;
		}

			.cmd {
				position: relative;
				z-index: 0;
				margin: 0 auto;
			}

			.cmd-bg {
				width: 1000px;
				height: auto;
				margin-top: 30px;
				box-shadow: 10px 10px 0 #a4d4db;
			}

			.portrait {
				position: absolute;
				left: 30px;
				top: 75px;
				margin: 30px auto;
				height: 200px;
				width: auto;
			}

			.typewriter {
				position: absolute;
				left: 250px;
				top: 130px;
				margin: 0 auto;
				display: inline-block;
				color: #292b2b;
				font-size: 48px;
				font-weight: bold;
				font-family: Inconsolata, sans-serif;
				white-space: nowrap;
				background-color: transparent;
			}

			.fa-linkedin-square {
				font-size: 32px;
				color: #147bc4;
				margin-right: 10px;
			}

			.fa-github-square {
				font-size: 32px;
				color: #292b2b;
				margin-right: 10px;
			}

			.fa-envelope-square {
				font-size: 32px;
				color: #c43d14;
				margin-right: 10px;
			}

			.welcome-msg {
				background-color: transparent;
				overflow: hidden;
				padding-right: 5px;
				border-right: 12px solid transparent;
				animation:
					typing .5s steps(100, end),
					blink-1 .7s step-end 2;
			}

			.linkedin {
				background-color: transparent;
				max-width: 348px;
				font-size: 32px;
				color: #147bc4;
				overflow: hidden;
				opacity: 0;
				border-right: 8px solid transparent;
				animation: 
					typing .5s steps(100, end),
					blink-2 .6s step-end 2;
				animation-delay: 1.6s;
				animation-fill-mode: forwards;
			}

			.github {
				background-color: transparent;
				max-width: 318px;
				overflow: hidden;
				border-right: 8px solid red;
				opacity: 0;
				font-size: 32px;
				color: #292b2b;
				animation:
					typing .5s steps(100, end),
					blink-1 .6s step-end 2;
				animation-delay: 3.1s;
				animation-fill-mode: forwards;
			}

			.email {
				background-color: transparent;
				max-width: 300px;
				overflow: hidden;
				border-right: 8px solid transparent;
				opacity: 0;
				font-size: 32px;
				color: #c43d14;
				animation:
					typing .5s steps(100, end),
					blink-3 .6s step-end infinite;
				animation-delay: 4.6s;
				animation-fill-mode: forwards;
			}

			@keyframes typing {
				0% {opacity: 1}
				from {width: 0}
				1% {opacity: 1}
				100% {opacity: 1}
				to {width: 100%}
			}

			@keyframes blink-1 {
				from, to {border-color: transparent}
				50% {border-color: #292b2b}
			}

			@keyframes blink-2 {
				from, to {border-color: transparent}
				50% {border-color: #147bc4}
			}

			@keyframes blink-3 {
				from, to {border-color: transparent}
				50% {border-color: #c43d14}
			}

	section {
		display: flex;
		margin: 10px;
	}

		.anchor {
			display: block;
			position: relative;
			top: -20px;
			visibility: hidden;
		}

		.anchor-welcome {
			display: block;
			position: relative;
			top: -61px;
			visibility: hidden;
		}

		.title {
			background-color: transparent;
			font-size: 32px;
			font-weight: bold;
			padding: 10px 20px;
			text-align: left;
		}

		.title-container {
			margin-top: 61px;
			position: relative;
		}

		.p-content {
			margin-top: 61px;
			font-size: 20px;
			max-width: 900px;
			margin-left: 50px;
			margin-right: 50px;
			border: 8px solid white;
			border-radius: 16px;
			padding: 10px;
			background: white;
			transition: all .3s ease;
		}

		.p-content:hover {
			box-shadow: 10px 10px 0 #a4d4db;
		}

		.p-content:hover #about-points{
			background: #e4eded;
		}

		.p-content > p {
			background: white;
			margin: 10px;
			line-height: 30px;
		}

		.bold {
			font-weight: 400;
			background: transparent;
			text-decoration: none;
			margin-right: 5px;
			margin-left: 4px;
			transition: all .3s ease;
		}

		.orange {
			color: #cf9f57;
		}

		.orange:hover {
			color: #a37d43;
		}

		.green {
			color: #57c98e;
		}

		.green:hover {
			color: #419c7c;
		}

		.blue {
			color: #6ab9e6;
		}

		.blue:hover {
			color: #3d7a94;
		}
		
		.pink {
			color: #c957ba;
		} 

		.pink:hover {
			color: #8f278f;
		}

		#skills {

		}

			.skills-block {
				margin-top: 61px;
				max-width: 900px;
				margin-left: 50px;
				margin-right: 50px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;
				width: 100%;
			}

			.skills-column {
				background: white;
				border-radius: 16px;
				padding: 20px;
				transition: all .3s ease;
			}

			.inline-emoji {
				font-size: 28px;
			}

			.skills-column p {
				background: white;
				transition: all .3s ease;
			}

			.skills-column.backend {
				border: 8px solid #96e0c5;
			}

			.skills-column.backend:hover {
				box-shadow: 10px 10px 0 #86c4ad;
				background-color: #edfff9;
			}
			.skills-column.backend:hover p {
				background-color: #edfff9;
			}
			.skills-column.backend:hover #inbox {
				position: relative;
				animation: sink 2.5s infinite;
			}
			.skills-column.backend:hover #outbox {
				position: relative;
				animation: jump 2.5s infinite;
			}

			@keyframes sink {
				0% {top: 0px;}
				50% {top: 10px;}
				100% {top: 0px;}
			}

			@keyframes jump {
				0% {top: 0px;}
				50% {top: -10px;}
				100% {top: 0px;}
			}

			.skills-column.tools {
				border: 8px solid #e3c996;
			}

			.skills-column.tools:hover {
				box-shadow: 10px 10px 0 #b5a177;
				background-color: #fff4de;
			}
			.skills-column.tools:hover p {
				background-color: #fff4de;
			}
			.skills-column.tools:hover #Ltool {
				display: inline-block;
				animation: spinL 2.25s infinite;
			}
			.skills-column.tools:hover #Rtool {
				display: inline-block;
				animation: spinR 2.25s infinite;
			}

			@keyframes spinL {
				0% {transform: rotate(0deg);}
				50% {transform: rotate(-30deg);}
				100% {transform: rotate(0deg);}
			}

			.skills-column.frontend {
				border: 8px solid #d59be8;
			}

			.skills-column.frontend:hover {
				box-shadow: 10px 10px 0 #ab7dba;
				background-color: #f9f5fa;
			}
			.skills-column.frontend:hover p {
				background-color: #f9f5fa;
			}
			.skills-column.frontend:hover #flower {
				display: inline-block;
				animation: orbit 3s infinite;
				animation-timing-function: linear;
			}

			@keyframes orbit {
				0% {transform: rotate(0deg);}
				100% {transform: rotate(360deg);}
			}

			@media only screen and (max-width: 900px) {
				.skills-column {
					flex-direction: row;
					margin-bottom: 20px;
				}
			}

			.skills-subtitle > p {
				font-weight: 700;
				font-size: 24px;
				margin-bottom: 20px;
				background: white;
			}

			.skills-item > p {
				font-family: Inconsolata, sans-serif;
				background: white;
				padding: 5px 0 5px 0;
				text-align: center;
			}


		#exp {

		}	

			.exp-card {
				background: white;
				border-radius: 8px;
				padding: 20px;
				transition: all .3s ease;
				margin: 20px;
				width: 100%;
				position: relative;
			}

			.exp-card#bccrc {
				border-left: 30px solid #e3c996;
			}

			.exp-desc {
				background: white;
			}

			.exp-desc > ul {
				background: white;
				list-style-type: none;
				padding-top: 8px;
				padding-bottom: 10px;
			}

			.exp-desc > p,
			.exp-desc > h1,
			.exp-desc > h3 {
				background: white;
				padding: 5px;
			}

			.exp-desc > ul > li {
				background: white;
				padding: 5px;
				font-size: 18px;
				text-align: center;
				line-height: 20px;
				font-family: Roboto, sans-serif;
				font-weight: 300;
			}

			.exp-desc > p, ul, li {
				transition: all .3s ease;
				line-height: 30px;
			}			

			.exp-desc > h1 {
				font-size: 30px;
			}

			.exp-desc > h3 > span {
				font-size: 20px;
				font-style: italic;
				font-weight: bold;
				font-family: Inconsolata, sans-serif;
			}

			.exp-desc > h3 {
				padding-bottom: 30px;
			}

			.exp-desc > h3 #company {
				text-align: left;
			}

			.exp-desc > h3 #duration {
				float: right;
				margin-right: 20px;
			}

			#bccrc .exp-desc > h3 #company {
				color: #ad8432;
			}
			#bccrc .exp-desc > h3 #duration {
				color: #dba840;
			}

			.exp-card#bccrc:hover {
				box-shadow: 10px 10px 0 #b5a177;
			}

			.exp-card#bccrc:hover ul {
				border-radius: 8px;
				background: #faf6ed;
			}
			.exp-card#bccrc:hover ul > li {
				background: #faf6ed;
			}

			.exp-card#bccrc:hover #shiny {
				animation: shiny 1.25s infinite;
			}

		#projects {

		}

			.proj-block, .exp-block {
				margin-top: 61px;
				max-width: 900px;
				margin-left: 50px;
				margin-right: 50px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;
				width: 100%;
			}

			.proj-card {
				background: white;
				border-radius: 8px;
				padding: 20px;
				transition: all .3s ease;
				margin: 20px;
				width: 100%;
				position: relative;
			}

			.proj-desc {
				background: white;
			}

			.proj-desc > p,
			.proj-desc > h1,
			.proj-desc > h3 {
				background: white;
				padding: 5px;
			}

			.proj-desc > p {
				transition: all .3s ease;
				line-height: 30px;
				border-radius: 8px;
			}

			.proj-desc > h1 {
				font-size: 30px;
			}

			.emoji {
				font-size: 30px;
			}

			#exhaust {
				opacity: 0;
			}

			.proj-desc > h3 {
				font-size: 20px;
				font-style: italic;
				padding-bottom: 30px;
			}

			.proj-card#avsim {
				border-top: 30px solid #f772ee;
			}

			.proj-card#avsim .proj-desc > h3 {
				color: #8f828f;
			}

			.proj-card#avsim:hover {
				box-shadow: 10px 10px 0 #dfade0;
			}

			.proj-card#avsim:hover p {
				background: #f9f5fa;
			}

			.proj-card#avsim:hover #exhaust {
				position: relative;
				animation: 
					disappear 1.5s infinite,
					move-away 1.5s infinite;
			}

			@keyframes move-away {
				0% {left: 0}
				80% {left: 50px;}
				100% {left: 50px;}
			}

			@keyframes disappear {
				from {opacity: 70%}
				to {opacity: 0}
			}

			.proj-card#algo {
				border-top: 30px solid #6ab9e6;
			}

			.proj-card#algo .proj-desc > h3 {
				color: #788e9c;
			}

			.proj-card#algo:hover {
				box-shadow: 10px 10px 0 #b1d4e6;
			}

			.proj-card#algo:hover #coffee {
				position: relative;
				animation: shake 2.5s infinite;
			}

			.proj-card#algo:hover #shiny {
				animation: shiny 1.25s infinite;
			}

			@keyframes shake {
				from, to {top: 0; left: 0;}
				25% {top: -5px; left: -5px;}
				50% {top:0; left: 0;}
				75% {top: -5px; right: 5px;}
			}

			@keyframes shiny {
				from, to {opacity: 100%}
				50% {opacity: 0}
			}

			.proj-card#covid {
				border-top: 30px solid #6ae6ac;
			}

			.proj-card#covid .proj-desc > h3 {
				color: #789c8f;
			}

			.proj-card#covid:hover {
				box-shadow: 10px 10px 0 #ade0cc;
			}

			.proj-card#covid:hover #alarm {
				animation: blinky 1.25s infinite;
			}

			.proj-card#covid:hover #compass {
				display: inline-block;
				animation: spinR 2.5s infinite;
			}

			@keyframes blinky {
				from, to {box-shadow: none; background: transparent;}
				50% {box-shadow: 0 0 30px #f54e4e; background: #ffc7c7;}
			}

			@keyframes spinR {
				0% {transform: rotate(0deg);}
				50% {transform: rotate(30deg);}
				100% {transform: rotate(0deg);}
			}

			.proj-tools {
				padding: 10px;
				margin-top: 15px;
				background: white;
			}

			.proj-tool {
				font-family: Inconsolata, sans-serif;
				padding-right: 20px;
				white-space: nowrap;
			}

			.proj-tool:before {
				content: "🚗";
			}

			.proj-tool:hover {
				position: relative;
				top: -5px;
			}

			.proj-links {
				background: white;
			}

			.proj-link {
				background: white;
				padding-left: 10px;
				padding-top: 10px;
				text-decoration: none;
				display: inline-block;
			}

			svg {
				background: transparent;
				height: 20px;
				width: auto;
				transition: all 0.3s ease;
			}

			#avsim svg:hover {
				fill: #8f828f;
			}

		.icon {
			top: 0;
			left: 0;
			width: 250px;
			height: auto;
		}

			#about-title {
				color: white;
				background-color: transparent;
				position: absolute;
				top: 40px;
				left: 45px;
			}

				#about-points {
					text-align: center;
					border-radius: 6px;
					transition: all 0.3s ease;
					padding-top: 8px;
					padding-bottom: 8px;
				}

				#small-text {
					font-size: 12px;
				}

			#skills-title {
				background: transparent;
				color: white;
				position: absolute;
				left: 40px;
				top: 60px;
			}

			#exp-title {
				background-color: transparent;
				position: absolute;
				left: 32px;
				top: 60px;
			}

			#projects-title {
				background-color: transparent;
				position: absolute;
				left: 50px;
				top: 75px;
			}

			/*#misc-title {
				background-color: transparent;
				position: absolute;
				top: 0;
				left: 0;
			}*/


footer {
	max-width: none;
	position: relative;
	bottom: 0;
	color: #9ea3a3;
	font-size: 12px;
	text-align: center;
	padding: 8px 8px;
	margin-top: 40px;
}	

